.consultation {

    &__left {
        width: 50%;
        float: left;
    }
    // end of .consultation__left

    &__right {
        width: 40%;
        float: right;
    }
    // end of .consultation__right
}
// end of .consultation