.contact {

    &__left {
        width: 50%;
        float: left;
    }
    // end of .contact__left

    &__right {
        width: 40%;
        float: right;
    }
    // end of .contact__right
}
// end of .contact