.first_screen {
    position: relative;
    
    background-image: url('../images/backgrounds/first_screen_bg.jpg');
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    

    &:before {
        @media only screen and (max-width: 720px) {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($black, .4);
        }
    }

    .container {
        max-width: 940px;
        height: 100vh;
        min-height: 500px;
        margin: 0 auto;
                
        @media only screen and (max-width: 980px) {
            margin: 0 20px;
        }

        position: relative;

        .header {
            position: absolute;
            top: 100px;
            left: 0;
            right: 0;

            &__logo {
                position: absolute;
                top: -46px;
                left: 50%;
                transform: translate(-50%, 0);

                @media only screen and (max-width: 720px) {
                    top: -25px;
                }

                img {
                    @media only screen and (max-width: 720px) {
                        width: 75px;
                        height: auto;
                    }
                }
            }
            // end of .header__logo

            &__phone {
                display: block;
                float: left;

                text-decoration: none;
                color: $white;
                opacity: .6;
            }
            // end of .header__phone

            &__call {
                display: block;
                float: right;

                border-bottom: 1px dashed $white;

                text-transform: uppercase;
                text-decoration: none;
                color: $white;
                opacity: .6;
            }
            // end of .header__call
        } 
        // end of .header        

        .main_menu {
            position: absolute;
            bottom: 60px;
            left: 0;
            right: 0;

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;    

                list-style-type: none;

                @media only screen and (max-width: 720px) {
                    position: static;
                    display: block;
                    padding-top: 200px;
                    -webkit-padding-start: 0;
                }

                li {
                    @media only screen and (max-width: 720px) {
                        margin-bottom: 10px;
                        text-align: center;
                        font-size: 22px;
                    }
                }

                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight: 500;
                    color: $white;
                }
            }                   
        }
        // end of .main_menu
    }
    // end of .container
}
// end of .first_screen