.second_screen {
    &__left {
        width: 33%;
        float: left;

        font-size: 48px;
        font-weight: 100;
        text-transform: uppercase;

        @media only screen and (max-width: 960px) {
            width: auto;
            float: none;
            margin-bottom: 20px;

            br {
                display: none;
            }
        }

        strong {
            font-weight: 500;
        }

        span {
            color: $blue;
        }
    }
    // end of .second_screen__left

    &__right {
        width: 66%;
        float: right;

        @media only screen and (max-width: 960px) {
            width: auto;
            float: none;
        }
    }
    // end of .second_screen__right
}
// end of .second_screen